.heading {
  text-align: center;
}
.A {
  text-align: center;
}
.B {
  text-align: right;
}
.disabled {
  pointer-events: none;
  opacity: 0;
}

table {
  background-color: #e5dcb3;
}

tr {
  border: 5px solid #d7bda6;
  border-style: outset;
}

td {
  background: white;
  border: 3px solid #d7bda6;
}

#organe {
    background: orange;
}

#yellow {
  background: yellow;
}


.container {
  display: table;
  height: 100%;
  width: 100%;
}

section div left-half {
  text-align: left;
  vertical-align: middle;
}


section div right-half {
  text-align: right;
  vertical-align: middle;
}

.matcuoi {
  width: 50px;
  height: 50px;
}